/* ###################################### */
/* THEME LIGHT */
/* ###################################### */

.light .login {
  background-color: var(--color-white);
}

.light .login__text {
  color: var(--color-font-2);
}

.light .login__title {
  color: var(--color-red-1);
}

.light .login__gif-1 {
  display: flex;
}

.light .login__gif-2 {
  display: none;
}

.light .settings__image-1 {
  display: flex;
}

.light .settings__image-2 {
  display: none;
}

.light .pagination,
.light .pagination__amount {
  color: var(--color-font-1);
}

.light .pagination__control {
  background-color: var(--color-red-1);
}

.light .pagination__control:hover {
  background-color: var(--color-red-3);
}

.light .error__page {
  background-color: var(--color-white); 
}


/* ###################################### */
/* THEME DARK */
/* ###################################### */

.dark .login {
  background-color: var(--color-theme-dark);
}

.dark .login__text {
  color: var(--color-white);
}

.dark .login__title {
  color: var(--color-white);
}

.dark .login__gif-1 {
  display: none;
}

.dark .login__gif-2 {
  display: flex;
}

.dark .pokedex__welcome span {
  color: var(--color-white);
}

.dark .choose__header {
  background-color: var(--color-theme-dark);
}

.dark .form .form__select, .dark .form .form__input {
  color: var(--color-white);
  background-color: var(--color-window-dark);
  border: 2px solid #ddd;
}

.dark .form .form__select option {
  background-color: #320064;
  color: var(--color-white)
}

.dark .settings__container {
  color: var(--color-white);
  background-color: var(--color-window-dark);
}

.dark .settings__header h2,
.dark .settings__icon {
  color: var(--color-white);
}

.dark .settings__image-1 {
  display: none;
}

.dark .settings__image-2 {
  display: flex;
}

.dark .error__imageContainer p,
.dark .error__text {
  color: var(--color-white);
}

.dark .form__text {
  color: var(--color-white);
}

.dark .form__text h3 {
  font-weight: 600;
}

.dark .btn {
  background-color: #320064;
}

.dark .btn:hover {
  background-color: #320064;
}

.dark .error__page {
  background-color: var(--color-window-dark); 
}

.dark .error__page h2 {
  color: #320064;
}

.dark .btn--white {
  background-color: var(--color-window-dark);
  color: var(--color-white);
}

.dark .modal__pop {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
}

.dark .modal__pop h2 {
  color: var(--color-white);
} 

.dark .modal__icon {
  color: var(--color-white);
}

.dark .pagination,
.dark .pagination__amount {
  color: var(--color-white);
}

.dark .pokemon__list-info {
  background-color: var(--color-window-dark);
  color: var(--color-white);
}
